.movie {
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    color: darkslategrey;
    justify-content: space-around;

    &__image {
        width: 300px;
        box-shadow: rgba(0, 0, 0, 0.50) 10px 5px 15px;
    }

    &__info {
        width: 500px;
        padding: 30px 50px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.50) 10px 5px 15px;
    }
}