body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: column;
}

header {
  background: rgb(71, 133, 133);
  background: linear-gradient(90deg, rgba(71, 133, 133, 1) 0%, rgba(47, 79, 79, 1) 46%, rgba(65, 139, 65, 1) 100%);
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}

.search {
  background-color: transparent;
  border: 2px solid darkslategrey;
  border-radius: 50px;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  outline: none;
}

::placeholder {
  color: #fff;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: darkslategrey;
}